.dimensions-collection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dimensions-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-all;
}

@media (max-width: 768px) {

    .dimensions-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }
    
    .dimensions-section {
        flex-direction: column;
    }

    .open-dimensions-configuration {
        max-height: 400px;
    }
}