.wing-layout-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .wing-layout-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }

    .open-wing-layout-configuration {
        max-height: 800px;
    }
}