.summary-div {
    background-color: white;
    border: 1px solid;
}

.summary-width {
    width: 22%;
}

.summary-content {
    margin: 20px;
}

.base-price-div {
    /*border-bottom: 2px solid;*/
}

.configuration-column {
    
}

.collection-prise {
    display: flex;
    justify-content: space-between;
}

.summary-btn-open-configuration {
    width: 100%;
}

.end-price-div {

}

.summary-color-box {
    height: 22px;
    width: 50px;
}

.position-fixed {
    position: sticky;
    top: 0;
}