.summary-div {
    background-color: white;
    width: 26.5%;
    border: 1px solid;
    position: absolute;
    right: auto;
    left: 72%;
}

.summary-content {

}

.base-price-div {
    /*border-bottom: 2px solid;*/
}

.configuration-column {
    
}

.collection-prise {
    display: flex;
    justify-content: space-between;
}

.summary-btn-open-configuration {
    width: 100%;
}

.end-price-div {

}

.summary-color-box {
    height: 22px;
    width: 50px;
}

.position-fixed {
    position: fixed;
    top: 0%;
}

.position-fixed-bottom {
    position: relative;
    left: 0%;
    top: 0%;
}