.color-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-in-the-box {
    min-height: 120px;
    width: 180px;
    margin: 10px; 
}

/*overview*/
.color-overview-complete-div {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.709);
}

.color-overview-collection {
    height: 50vh;
    width: 80%;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: auto;
}

.overview-head {
    width: 76%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.overview-color-list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

.color-box-overview {
    width: 160px;
    height: 160px;
    margin-bottom: 1%;
}

.close-color-overview-svg {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.mark-the-color-box {
    border: 2px solid rgb(56, 54, 54);
}

.mark-the-color-box::before {
    width: 152px;
    height: 152px;
    position: relative;
    display: flex;
    
    content: "";
    border: 4px solid rgb(56, 54, 54);
}


@media (max-width: 974px) {
    .color-in-the-box {
        width: 150px;
    }
}


@media (max-width: 768px) {

    .color-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }

    .open-color-configuration {
        max-height: 200px;
    }
}