.opening-direction-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .opening-direction-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }

    .open-opening-direction-configuration {
        max-height: 1750px;
    }

    .opening-direction-content-absolute {
        align-self: flex-start;
    }
}