.mounting-method-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .mounting-method-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }

    .open-mounting-method-configuration {
        max-height: 2660px;
    }
}