.variant-mounting-plates-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .variant-mounting-plates-collection {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1000ms ease-in-out;
    }

    .open-variant-mounting-plates-configuration {
        max-height: 2400px;
    }
}