.execution-complete-div {
    margin-bottom: 2%;
}

.execution-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.execution-img {
    width: 200px;
    object-fit: contain;
}