.mounting-gate-hinges-complete-div {
    margin-bottom: 2%;
}

.mounting-gate-hinges-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mounting-gate-hinges-img {
    width: 200px;
    object-fit: contain;
}