.opening-direction-complete-div {
    margin-bottom: 2%;
}

.opening-direction-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opening-direction-img {
    width: 200px;
    object-fit: contain;
}