.opening-direction-complete-div {
    margin-bottom: 2%;
}

.opening-direction-collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opening-direction-img-lower-level {
    height: 200px;
}

.din-left-inside {
    width: 200px;
    object-fit: contain;
}